<div class="container">

    <div class="jumbotron bg-white text-center">
        <h1 class="display-4">Settings</h1>
        <br>
        <div class="col-md-12 text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" checked type="radio" name="inlineRadioOptions" #opt1 id="inlineRadio1" value="option1" (click)="display(opt1)">
                <label class="form-check-label" for="inlineRadio1">Generate gold price</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" #opt2 id="inlineRadio2" value="option2" (click)="display(opt2)">
                <label class="form-check-label" for="inlineRadio2">Filter </label>
            </div>
        </div>
       
    </div>
    

    <div class="col-md-12 col-lg-12"> 
        <div [ngSwitch]="opt">
            <div *ngSwitchCase="'option1'">

                <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Generating process has started.</strong> 
                    <!-- <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                  </div>

                <form [formGroup] = "generateCondition" (ngSubmit) = "generate()">
                

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="">Initial Buying</label>
                        <input type="number" class="form-control" id="" value="54" formControlName = "initialBuying">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="">Initial Selling</label>
                        <input type="number" class="form-control" id="" value="55" formControlName = "initialSelling">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="">Amplitude</label>
                        <input type="number" class="form-control" id="" value="2" formControlName = "amplitude" >
                      </div>
                    </div>
                   
                    <div class="buttons text-center">
                        
                        <div *ngIf="!isRunning; else running">
                            <button type="submit" class="btn btn-primary generate_button btn-lg" id="start-btn">Start</button>
                        </div>
                        <ng-template #running>
                            
                            <button type="submit" (click) = "clickStop()" class="btn btn-primary  generate_button btn-lg" id="stop-btn">Stop</button>
                        </ng-template>
                        
                       
                    </div>

                    
                  </form>


            </div>
            <div *ngSwitchCase="'option2'">

              <div *ngIf = "alert_apply" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> Filter conditions have been applied </strong> 
                <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form [formGroup] = "filterCondition" (ngSubmit) = "applyFilter()">

                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label"></label>
                  <div class="col-sm-4 text-center">
                    Min Value
                  </div>
                  <div class="col-sm-4 text-center">
                    Max Value
                  </div>
                </div>
                
                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label text-center">Buying</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="" value = "0" placeholder="" formControlName = "minBuying">
                  </div>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="" value = "0"  placeholder="" formControlName = "maxBuying">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label text-center">Selling</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="" value = "0"  placeholder="" formControlName = "minSelling">
                  </div>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="" value = "0"  placeholder="" formControlName = "maxSelling">
                  </div>
                </div>
                
                
                
                  <div class="buttons text-center">
                    
                    <button type="submit" (click) ="clickApply()" class="btn btn-primary generate_button btn-lg" id="apply-btn">Apply</button>
                    
                    
                  </div>
                  
                
              </form>

             
            </div>
        </div>
    </div>
    
</div>

    