form, .alert {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.display_form {
    text-align: center;
}

.buttons {
    padding-top: 40px;
    padding-bottom: 40px;
}


.generate_button {
    margin: 10px;
    padding-left: auto;
    padding-right: auto;
}
#start-btn {
    background-color: green;
}
#stop-btn {
    background-color: rgb(175, 11, 11);
}
#apply-btn {
    background-color: sandybrown;
}