<div class="container">

    <div class="jumbotron bg-white text-center">
        <h1 class="display-4">Dollar Price Today</h1>
        <hr>
    </div>
  
      <div class="col-md-12 col-lg-12 col-sm-12" >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Brand of Dollar</th>
              <th scope="col">Types of Dollar</th>
              <th scope="col">Buy</th>
              <th scope="col">Sell</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Sample Brand</th>
              <td>Sample Type</td>
              <td>{{currentBuying}}</td>
              <td>{{currentSelling}}</td>
              <td><i class="fa {{arrowType}}"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
  
  
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div *ngIf="showSpinner; else showMap" class="spinner">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <ng-template #showMap>
          <google-chart #chart [data]="lineChart" id="chart"></google-chart>
        </ng-template>
        
      </div>
  
  </div>