#footer p{
    font-size: 14px;
    font-family: SVN Gotham !important;
    margin: 5px 0 0 0;
    color: white;
}
#footer{
    border-top: 4px solid #F8C73F;
}
#address{
    padding: 20px 0;
    color: #f8c73f;

}
#footer h3{
    font-size: 18px;
}
#footer h4{
    font-size: 15px;
    color: white;
    font-weight: 600;
    border-bottom: 2px solid white;
}
#footer a{
    font-family: SVN Gotham;
    font-size: 14px;
    color: white;
    text-decoration: none!important;
}
#footer a:hover{
    color: #f8c73f;
}
#footer .link-custom{
    text-align: center;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #951c30;
}