<div class="header_top d-none d-xl-block">
  <div class="container">
    <div class="row">
      <div class="col-lg col-md-12">
        <ul class="list-group list-group-horizontal-md">
          <li class="py-1 px-4"><img src="" alt=""><a href="#">
              024 22 33 9999
            </a></li>
          <li class="py-1 px-4"><a href="#">
              Contact@baotinmanhhai.vn
            </a></li>
        </ul>
      </div>
      <div class="col-lg col-md-12 d-flex justify-content-end">
        <ul class="list-group list-group-horizontal-md">
          <li class="p-1 px-4"><a href="#">
              Hướng dẫn mua hàng
            </a></li>
          <li class="p-1" style="color: white;">
            |
          </li>
          <li class="py-1 px-4"><a href="#">
              Đăng nhập
            </a></li>
          <li class="p-1" style="color: white;">
            |
          </li>
          <li class="py-1 px-4"><a href="#">
              Đăng ký
            </a></li>
        </ul>
      </div>
    </div>


  </div>
</div>

<div class="header_middle">
  <div class="container">
    <div class="row3 row">
      <div class="col-lg-2 col-md-6" style="float: right;"> <a href="https://www.baotinmanhhai.vn/"> <img
            class="mw-100 p-2" src="https://www.baotinmanhhai.vn/images/logo.png" alt="baotinmanhhai"></a></div>
      <div class="col-10">
        <div class="row1 row">
          <div class="col-lg col-md-12">
            <ul class="list-group list-group-horizontal-md py-3">
              <li class="px-3 mx-2 pt-1 d-flex justify-content-center"
                style="border: 1px solid white; border-radius: 5cm"><a href="#">
                  <img class="pb-1" src="https://www.baotinmanhhai.vn/img/home-icon.png" alt="">
                  Hệ thống cửa hàng
                </a></li>
              <li class="px-3 mx-2 pt-1 d-flex justify-content-center"
                style="border: 1px solid white; border-radius: 5cm"><a href="#">
                  <img class="pb-1" src="https://www.baotinmanhhai.vn/img/icon-sale.png" alt="">
                  Thể ưu đãi BTMH
                </a></li>
              <li class="px-3 mx-2 pt-1 d-flex justify-content-center"
                style="border: 1px solid white; border-radius: 5cm; text-decoration: underline;"><a href="#">
                  <img class="pb-1" src=" " alt="">
                  Giỏ Hàng (0)
                </a></li>
              <li class="px-3 mx-2 d-flex justify-content-center">
                <input style="border-radius: 5cm" type="text" class="form-control"
                  placeholder="Tìm kiếm trang sức đẹp" aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
              </li>
            </ul>
          </div>
        </div>
        <div class="row2 row">
          <div class="col-lg col-md-12">
            <ul class="list-group list-group-horizontal-md">
              <li class="px-3 py-2 d-flex justify-content-center"><a routerLink="trangchu">
                  TRANG CHỦ
                </a></li>
                <div class="px-3 py-2 d-flex justify-content-center">
                  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    GIAO DỊCH
                  </a>
                  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" tabindex="-1" href="#">VÀNG</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><a tabindex="-1" href="#">TỈ GIÁ</a></li>
                        <li class="dropdown-item"><a href="#">MUA BÁN</a></li>
                        <li class="dropdown-item"><a href="#">EXPORT</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" tabindex="-1" href="#">USD</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><a tabindex="-1" href="#">TỈ GIÁ</a></li>
                        <li class="dropdown-item"><a routerLink="muaban">MUA BÁN</a></li>
                        <li class="dropdown-item"><a href="#">EXPORT</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  SẢN PHẨM
                </a></li>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  BỘ SƯU TẬP
                </a></li>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  TIN TỨC
                </a></li>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  VIDEO
                </a></li>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  SALE
                </a></li>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  THẦN TÀI
                </a></li>
              <li class="px-3 py-2 d-flex justify-content-center"><a href="#">
                  LIÊN HỆ
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
