
<div id="carouselbar" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#carouselbar" data-slide-to="0" class="active"></li>
        <li data-target="#carouselbar" data-slide-to="1"></li>
        <li data-target="#carouselbar" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner  carousel_img">
        <div class="carousel-item active">
            <img src="./assets/images/banner1.jpg" alt="1" width="100%" height="600">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/banner1.jpg" alt="2" width="100%" height="600">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/banner1.jpg" alt="3" width="100%" height="600">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselbar" data-slide="prev"></a>
    <a class="carousel-control-next" href="#carouselbar" data-slide="next"></a>
</div>

<!-- --------------------------------------------------------------- -->

<div class="category_list">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Golden Jewellery</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Silver Jewellery</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Marriage Jewellery</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Diamond</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Gemstone</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Pearl</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Gift</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Collection</a>
            </li>
        </ul>
    </div>
</div>

<div class="category_list_mobile">
        <ul>
            <li>
                <a href="#">Golden Jewellery</a>
            </li>
            <li>
                <a href="#">Silver Jewellery</a>
            </li>
            <li>
                <a href="#">Marriage Jewellery</a>
            </li>
            <li>
                <a href="#">Diamond</a>
            </li>
            <li >
                <a href="#">Gemstone</a>
            </li>
            <li>
                <a href="#">Pearl</a>
            </li>
            <li>
                <a href="#">Gift</a>
            </li>
            <li>
                <a href="#">Collection</a>
            </li>
        </ul>
</div>

<!-- ---------------------------------------------------------------- -->

<div class="jewelry_category">
    <div class="jewelry_category_top_logo">
        <img src="./assets/images/logo.png" class="img-responsive" style="height: 140px; padding: 15px;" alt="">
        <h5>KEEP RESPONSIBILITY MORE THAN GOLD</h5>
    </div>

    <div class="jewelry_category_list">
        <h3><b>JEWELLERY </b></h3>
        <div class="container d-none d-md-block">

        <ul class="list-inline">
            <li class="list-inline-item"> <a href="#">Ring</a>  </li>
            <li class="list-inline-item"> <a href="#"> Earring </a></li>
            <li class="list-inline-item"> <a href="#"> Necklace stone </a></li>
            <li class="list-inline-item"> <a href="#"> Necklace </a></li>
            <li class="list-inline-item"> <a href="#"> Chain </a></li>
            <li class="list-inline-item"> <a href="#"> bangle</a> </li>
            <li class="list-inline-item"> <a href="#"> Bracelet </a></li>
            <li class="list-inline-item">  <a href="#"> All </a></li>
        </ul>
    </div>
    </div>
</div>

<!-- ---------------------------------------------------------------- -->

<div class="product">
    
    <div class="container">
        <h3>NEW PRODUCT</h3>
        <div class="items">
            <div class="item-box" *ngFor="let product of newProductList">
                <img src={{product.url}} alt="">
                <h6><a href="#">{{product.name}}</a></h6>
                <p>Product number: {{product.productNumber}}</p>
                <span>Contact</span>
            </div>
            <!-- <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div>
            <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div>
            <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div>
            <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div>
            <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div>
            <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div>
            <div class="item-box"> 
                <img src="./assets/images/jewel1.jpg" alt="">
                <h6><a href="#">Silver bracelet</a></h6>
                <p>Product number: N23424234</p>
                <span>Contact</span>
            </div> -->
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------------- -->

<div class="featured_product">
    <div class="container-fluid">
        <h3>FEATURED PRODUCT</h3>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12"> <img src="./assets/images/banner2.jpg" alt="" class="img-responsive featured_product_banner"> </div>
            <div class="col-lg-6 col-md-12 col-sm-12"> <img src="./assets/images/banner2.jpg" alt="" class="img-responsive featured_product_banner">  </div>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------------- -->

<div class="News">
    <h3> NEWS </h3>
    <div class="container">
        <div class="row news_content">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <img src="./assets/images/new_image.jpg" alt="" class="img-responsive new_image">
                <h5><a href="#"> Gold price in Vietnam rockets to an all-time high</a></h5>
                <p>Saigon Jewelry Company bought gold at VND55.75 million per tael and sold at VND57.27 million per tael at 4.30 p.m. in Ho Chi Minh City, down nearly VND1 million per tael </p>
                <a href="#" class="news_details">See Details ></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <img src="./assets/images/new_image.jpg" alt="" class="img-responsive new_image">
                <h5><a href="#"> Gold price in Vietnam rockets to an all-time high</a></h5>
                <p>Saigon Jewelry Company bought gold at VND55.75 million per tael and sold at VND57.27 million per tael at 4.30 p.m. in Ho Chi Minh City, down nearly VND1 million per tael.</p>
                <a href="#" class="news_details">See Details ></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <img src="./assets/images/new_image.jpg" alt="" class="img-responsive new_image">
                <h5><a href="#"> Gold price in Vietnam rockets to an all-time high</a></h5>
                <p>Saigon Jewelry Company bought gold at VND55.75 million per tael and sold at VND57.27 million per tael at 4.30 p.m. in Ho Chi Minh City, down nearly VND1 million per tael.</p>
                <a href="#" class="news_details">See Details ></a>
            </div>
        </div>
            <div class="row">
                <div class="col" style="text-align: center; padding-top: 40px;">
                    <a href="#" class="see_more_button"> See More </a>
                </div>
                
            </div>            
    </div>
</div>

<div class="clearfix"></div>
<!-- -------------------------------------------------------------------- -->
<div class="Introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7" style="padding: 0;">
                <div class="intro_container">
                    <div class="row">
                        <h4>About Manh Hai jewellery Company</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut magni cupiditate expedita dignissimos maiores cumque minima enim doloremque placeat aliquid asperiores nobis consequatur animi, dicta iste, nesciunt, consectetur praesentium.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quia doloremque quos soluta tempore fugiat nihil mollitia non nam impedit!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ea dolores libero quia cumque, dicta excepturi corrupti itaque adipisci deserunt aliquam molestiae ullam at neque pariatur est eligendi consequuntur odio.</p>
                    </div>
                    <div class="row" style="padding: 20px 0px 25px 0px;"><a href="#" class="see_details_button"> See Details </a></div>
                    
                </div>
            </div>
            <div class="col-md-12 col-lg-5" style="padding: 0;">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/EiVmQZwJhsA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------- -->

<div class="service">
    <div class="container">
        <h3>Our Services</h3>
        <div class="row service_info">
            
                <div class="col-lg-4 col-md-12">
                    <div class="service_box">
                        <img src="./assets/images/service1.jpg" class="service_image rounded-circle" alt="">
                        <div class="service_content">
                            <h5>Jewellery Repair</h5>
                            <p>Service includes highly-skilled jewellers and modern technology and more...</p>
                            <a href="#">Discover more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="service_box">
                        <img src="./assets/images/service1.jpg" class="service_image rounded-circle" alt="">
                        <div class="service_content">
                            <h5>Jewellery Repair</h5>
                            <p>Service includes highly-skilled jewellers and modern technology and more...</p>
                            <a href="#">Discover more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="service_box">
                        <img src="./assets/images/service1.jpg" class="service_image rounded-circle" alt="">
                        <div class="service_content">
                            <h5>Jewellery Repair</h5>
                            <p>Service includes highly-skilled jewellers and modern technology and more...</p>
                            <a href="#">Discover more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>

<!-- -------------------------------------------------------------------- -->

<div class="certificate">
<div class="container">
    
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="certificate_content">
                <div class="row">
                    <div class="col-md-3"><img src="./assets/images/certificate_logo.png" class="certificate_logo" alt=""></div>
                    <div class="col-md-9">
                        <h5> Free</h5>
                        <p>Lifetime cleaning</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="certificate_content">
                <div class="row">
                    <div class="col-md-3"><img src="./assets/images/certificate_logo.png" class="certificate_logo" alt=""></div>
                    <div class="col-md-9">
                        <h5> Free</h5>
                        <p>Lifetime cleaning</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="certificate_content">
                <div class="row">
                    <div class="col-md-3"><img src="./assets/images/certificate_logo.png" class="certificate_logo" alt=""></div>
                    <div class="col-md-9">
                        <h5> Free</h5>
                        <p>Lifetime cleaning</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="certificate_content">
                <div class="row">
                    <div class="col-md-3"><img src="./assets/images/certificate_logo.png" class="certificate_logo" alt=""></div>
                    <div class="col-md-9">
                        <h5> Free</h5>
                        <p>Lifetime cleaning</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
