<header class="container mt-3">
  <h1>MUA BÁN NGOẠI TỆ</h1>

  <ul class="breadcrumb">
    <li>Home</li>
    <li>MUA BÁN NGOẠI TỆ </li>
  </ul>

  <span class="count"> {{countQuantity()}} items in the bag</span><br>
  <div class="container-fluid mw-100" id="user" *ngIf="user">
    <div class="float-right mt-2">
      <h5>User: {{user[0].name}}</h5>
    </div><br><br>

    <div class="float-right">
      <h5>Balance: {{user[0].balance}} $</h5>
    </div>
  </div>
</header>

<section class="container">
  <ul class="products">
    <li class="row" *ngFor="let item of product">
      <div class="col left">
        <div class="thumbnail">
          <a href="#">
            <img [src]="item.image" [alt]="item.title" />
          </a>
        </div>
        <div class="detail">
          <div class="name"><a href="#"> {{item.title}}</a></div>
          <div class="description">
            {{item.type}}
          </div>
          <div class="price">{{item.price}} $</div>
        </div>
      </div>

      <div class="col right">
        <div class="quantity">
          <input
          type="number" [(ngModel)]="item.quantity"
          />
        </div>

        <!-- <div class="remove">
          <svg
            version="1.1"
            class="close"
            xmlns="//www.w3.org/2000/svg"
            xmlns:xlink="//www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 60 60"
            enable-background="new 0 0 60 60"
            xml:space="preserve"
          >
            <polygon
              points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"
            ></polygon>
          </svg>
        </div> -->
      </div>
    </li>
  </ul>
</section>

<section class="container">
  <div class="promotion">
    <label for="promo-code">Have A Promo Code?</label>
    <input type="text" id="promo-code" /> <button type="button"></button>
  </div>

  <div class="summary">
    <ul>
      <li class="total">Total: {{countSum()}} $</li>
      <li class="checkout" style="font-weight: 600;">Change:  {{countCheckout()}}</li>
    </ul>
  </div>

  <div class="checkout mb-4">
    <button type="button" *ngIf="isCheckoutOKe">Check Out</button>
    <a *ngIf="!isCheckoutOKe" href="#" style="text-decoration: underline;" ><h5>Nap Tien Ngay >></h5></a>

  </div>
</section>


