
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Tạo một tài khoản mới</h4>
	<p class="text-center">Bắt đầu với một tài khoản miễn phí</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Đăng nhập qua Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Đăng nhập qua facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">HOẶC</span>
    </p>
	<form #userRegis = "ngForm" (ngSubmit) = "onClickSubmit(userRegis.value); userRegis.reset()" required>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="fullname" class="form-control" placeholder="Tên đầy đủ" type="text" ngModel required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" type="email" class="form-control" placeholder="Địa chỉ email"
         ngModel >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select name="prePhone" class="custom-select" style="max-width: 120px;">
		    <option selected="">+971</option>
		    <option value="1">+972</option>
		    <option value="2">+198</option>
		    <option value="3">+701</option>
		</select>
    	<input name="phone" type="number" class="form-control" placeholder="Số điện thoại" ngModel>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select name="job" class="form-control" ngModel value="Chọn nghề nghiệp">
			<option>Thiết kế</option>
			<option>Quản lý</option>
			<option>Lập trình viên</option>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" class="form-control" placeholder="Mật khẩu" type="password" ngModel required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Nhắc lại mật khẩu" type="password" required>
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Tạo tài khoản  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Bạn đã có tài khoản? <a href="">Đăng nhập</a> </p>                                                                 
    </form>
</article>
</div> <!-- card.// -->

<div class="container" *ngIf="userList.length > 0">
    <h2>Danh sách người dùng</h2>
    <br>       
    <table class="table">
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Email</th>
          <th>Profession</th>
          <th>Phone number</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{user.fullname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.job}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.password}}</td>
        </tr>
        
      </tbody>
    </table>
</div>

  
</div> 
<!--container end.//-->
