<footer>
    <div class="footer">
        <div class="">
            <div class="row footer_content">
                <div class="col-lg-4 col-md-12" style="padding: 0;">
                    
                    <div class="footer_left_content">
                        <img src="./assets/images/logo.png" class="img-responsive footer_logo" alt="">
                        <h5>Keep responsibility more than gold</h5>
                        <p class="">© 1992 - 2021 MANH HAI JEWELLERY LIMITED COMPANY</p>
                        <p>All Rights reserved</p>
                    </div>
                    
                </div>
                <div class="col-lg-8 col-md-12" style="padding: 0;">
                    <div class="footer_right_content col-md-12">
                        <div class="row">
                            <div class="col md-8 company_branch_info">
                                <h5>Manh Hai 有限公司</h5>
                                <p>Branch 1: 39 Nguyen Trai, Thanh Xuan</p>
                                <p>Branch 2: 39 Nguyen Trai, Thanh Xuan</p>
                                <p>Branch 3: 39 Nguyen Trai, Thanh Xuan</p>
                                <p>Branch 4: 39 Nguyen Trai, Thanh Xuan</p>
                                <p>Branch 5: 39 Nguyen Trai, Thanh Xuan</p>
                                <p>Hotline: 024 2333 9999</p>
                                <p>Email: contact@baotinmanhhai.vn</p>
                                
                            </div>
                            <div class="col-md-4">
                                <img src="./assets/images/gov.png" class="img-responsive gov-image" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                            <ul class="list-inline follow_list">
                                <li class="list-inline-item">
                                    <a href="#"><img src="./assets/images/follow.png" alt=""></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><img src="./assets/images/follow.png" alt=""></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><img src="./assets/images/follow.png" alt=""></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><img src="./assets/images/follow.png" alt=""></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><img src="./assets/images/follow.png" alt=""></a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    
                        <div class="row footer_service">
                            <div class="col-md-10 footer_service_content">
                                <div class="row">
                            <div class="col">
                                <h5>Register</h5>
                                <p> Leave your information and we will contact you soon for providing more details </p>
                                <input type="text" placeholder="Enter your email address...">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <h5>manh hai jewellery</h5>
                            
                                <a href="#">Homepage</a><br>
                                <a href="#">About BTMH</a><br>
                                <a href="#">Product</a><br>
                                <a href="#">News - Events</a><br>
                                <a href="#">Video</a><br><br>
                                <a href="#" ><p class="bt_system_button"> Bao Tin Gold System </p></a>
                            </div>
                            <div class="col">
                                <h5>Buying Support</h5>
                                <a href="#">Buying guide</a><br>
                                <a href="#">Payment guide</a><br>
                                <a href="#">Shipping method</a><br>
                                <a href="#">Exchange Guarantee</a><br>
                                <a href="#">Caculate jewellery size</a><br>
                                <a href="#">Jewellery usage</a><br>
                                <a href="#">Cheking order</a><br>
                                <a href="#">Privacy policy</a>
                            </div>
                            <div class="col">
                                <h5>Usage Handbook</h5>
                                <a href="#">Jewellery according to birthday</a><br>
                                <a href="#">Jewellery according to yin yang</a><br>
                                <a href="#">Calculate jewellery size</a><br>
                                <a href="#">Jewellery usage</a>
                            </div>
                        </div>
                        </div>
                            
                        </div>

                        <div class="row footer_address">
                            <div class="col-md-12">
                                <h6>Manh hai jewellery limited company</h6>
                                <p>39 Nguyen Trai, Thanh Xuan, Ha Noi - Phone Number: 123456678</p>
                                <p>Email: contact@baotinmanhhai.vn</p>
                                <p>Business License No.12344567 </p>    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>