<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mua bán </h1>
  </div>
</section>

<div class="container">
  <div class="row" *ngIf="gold1">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-sm table-borderless">
        <thead>
        <tr>
          <th>Mặt hàng</th>
          <th>Số lượng</th>
          <th class="text-center">Giá tiền</th>
          <th class="text-center">Tổng</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-sm-9 col-md-6">
            <div class="row">
            <div class="col-sm-2" >
              <a class="thumbnail pull-left" href="#"> <img class="media-object" src="https://icons.iconarchive.com/icons/visualpharm/finance/128/gold-bullion-icon.png" style="width: 72px; height: 72px;"> </a>
            </div>
              <div class="col-sm-7">
                <h4 class="media-heading"><a style="text-decoration:none; color:black" href="#">Vàng</a></h4>
                <h5 class="media-heading"><a style="text-decoration:none; color:black" href="#">Vàng SJC</a></h5>
              </div>
            </div>
            </td>
          <td class="col-sm-1 col-md-1" style="text-align: center">
            <input type="number" min="0" onKeyPress="if(this.value.length==3) return false;" oninput="this.value=(parseInt(this.value)||0)" placeholder="0-9" autofocus='' class="form-control" [(ngModel)]="cart.quantity"> Cây
          </td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{gold1.price}}</strong> $</td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{(gold1.price*cart.quantity).toFixed(2)}}</strong> $</td>

        </tr>

        <tr>
          <td>   </td>
          <td>   </td>

          <td><h5>Giá thành</h5></td>
          <td class="text-center"><h5><strong>{{(gold1.price*cart.quantity).toFixed(2)}}</strong> $</h5></td>
        </tr>
        <tr>

          <td>   </td>
          <td>   </td>
          <td><h5>Thuế GTGT</h5></td>
          <td class="text-center"><h5><strong>{{(gold1.price*cart.quantity*5/100).toFixed(2)}}</strong> $</h5></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>

          <td><h3>Số tiền phải trả</h3></td>
          <td class="text-center"><h3><strong>{{(gold1.price*cart.quantity) + (gold1.price*cart.quantity*5/100)}}</strong> $</h3></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>

          <td>   </td>
          <td>   </td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2" *ngIf="user1 && gold1">
      <div class="container" style="  flex: 25%;">
      <h4 style="color:black" >
        Thanh toán
      </h4>
      <p style="color:black">Tiền trong ví <span style="color:black;float: right;">{{user1.wallet}}</span></p>
      <p style="color:black">Số tiền phải trả <span style="color:black;float: right;">{{(gold1.price*cart.quantity) + (gold1.price*cart.quantity*5/100)}}</span></p>
      <hr>
      <p style="color:black">Tiền còn lại trong ví <span style="color:black; float: right;"><b>{{(user1.wallet-((gold1.price*cart.quantity) + (gold1.price*cart.quantity*5/100))).toFixed(2)}}</b></span></p>
        <p style="color:black" >  </p>
    </div>
    </div>

  </div>


</div>
<div class="container">
  <div class="row">
    <div class="col-md-10"></div>
  <div class="col-md-2">
  <button (click)=" calculate()" type="button" class="btn btn-success mb-5">Thanh toán</button>
  </div>
  </div>
</div>


