<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href=""><img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/slide/web%20cover%20kim%20cuong%20-%20re.jpg"
          alt="Los Angeles" ></a>
    </div>
    <div class="carousel-item">
      <a href=""><img src="https://baotinmanhhai.vn/web/uploads/oanh/banner_1613524393.jpg" alt="Chicago"
        class="mw-100"></a>
    </div>
    <div class="carousel-item">
      <a href=""><img src="https://baotinmanhhai.vn/web/uploads/oanh/banner%20%287%29.jpg" alt="New York"
        class="mw-100"></a>
    </div>
    <div class="carousel-item">
      <a href="#"><img src="https://baotinmanhhai.vn/web/uploads/oanh/banner2.jpg" alt="New York"
        class="mw-100"></a>
    </div>
    <div class="carousel-item">
      <a href=""><img src="https://baotinmanhhai.vn/web/uploads/slide/anh%20bia%20c%20tuyen%201.jpg" alt="New York"
          class="mw-100"></a>
    </div>
    <div class="carousel-item">
      <a href=""><img src="https://baotinmanhhai.vn/web/uploads/slide/anh%20bia%20gia%20dinh%20nghe%20nhan.jpg"
          alt="New York" class="mw-100"></a>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="body_1 ">
  <div class="container d-flex justify-content-center">
    <ul class="list-group list-group-horizontal-md">
      <li class="px-3 py-4"><a href="#">
          TRANG SỨC VÀNG
        </a></li>
      <li class="px-3 py-4"><a href="#">
          TRANG SỨC BẠC
        </a></li>
      <li class="px-3 py-4"><a href="#">
          TRANG SỨC CƯỚI
        </a></li>
      <li class="px-3 py-4"><a href="#">
          KIM CƯƠNG
        </a></li>
      <li class="px-3 py-4"><a href="#">
          ĐÁ QUÝ
        </a></li>
      <li class="px-3 py-4"><a href="#">
          NGỌC TRAI
        </a></li>
      <li class="px-3 py-4"><a href="#">
          QUÀ TẶNG
        </a></li>
      <li class="px-3 py-4"><a href="#">
          BỘ SƯU TẬP
        </a></li>
    </ul>
  </div>
</div>

<div class="body_2">
  <div class="container d-flex justify-content-center">
    <div class="col-md-3 ">
      <img class="mw-100" style="padding-top: 50px;" src="https://www.baotinmanhhai.vn/images/logo.png" alt="">
    </div>
  </div>
  <div class="container d-flex justify-content-center py-3">
    <h5>GIỮ TÍN NHIỆM HƠN GIỮ VÀNG</h5>
  </div>
  <div class="container d-flex justify-content-center pt-5">
    <img class="px-3 py-3 h-100" src="https://www.baotinmanhhai.vn/img/line-left.png" alt="">
    <h4>TRANG SỨC</h4>
    <img class="px-3 py-3 h-100" src="https://www.baotinmanhhai.vn/img/line-right.png" alt="">
  </div>
  <div class="container d-flex justify-content-center pt-3 pb-0">
    <ul class="list-group list-group-horizontal-md">
      <li class="px-3 py-2"><a href="#">
          NHẪN
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          BÔNG TAI
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          MẶT DÂY CHUYỀN
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          DÂY CHUYỀN
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          KIỀNG
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          LẮC
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          VÒNG TAY
        </a></li>
      <li class="p-1" style="color: black;">
        |
      </li>
      <li class="px-3 py-2"><a href="#">
          XEM TẤT CẢ
        </a></li>
    </ul>
  </div>
</div>

<div class="body_slide pt-4">
  <div class="container">
    <h4 class="pb-3" style="text-align: center">SẢN PHẨM MỚI</h4>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12"></div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/lac_web_2.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Vòng tay mặt sao biển đá Emerald MH2-V</a>
                  <p>Mã sản phẩm: MH2-V</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100"
                      src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac%20tre%20em/lac%20bi%20bac%20meo%20kitty%20xanh.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Lắc bi bạc trẻ em mèo Kitty xanh lá MH2 -
                    L180426013</a>
                  <p>Mã sản phẩm: MH2 - L180426013</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#">
                    <img class="mw-100"
                      src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac%20tre%20em/vong%20bac%20meo%20kitty.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                  <p>Mã sản phẩm: MH2 - V180402001</p>
                  <p style="color: red;">Liên hệ</p>
                </div>

              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100"
                      src="https://baotinmanhhai.vn/web/uploads/product/Originals/vang%20tay%202018/l%E1%BA%AFc/day3-169.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Vòng tay gắn đá Citrine MH1 - V</a>
                  <p>Mã sản phẩm: MH1 - V</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100"
                      src="https://baotinmanhhai.vn/web/uploads/product/Originals/vang%20tay%202018/l%E1%BA%AFc/day3-169.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Vòng tay gắn đá Citrine MH1 - V</a>
                  <p>Mã sản phẩm: MH1 - V</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100"
                      src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac%20xi%20-%20focus%20on%20me/IMG_4803.2.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Nhẫn bạc gắn đá trắng tròn N170825011</a>
                  <p>Mã sản phẩm: N170825011</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100"
                      src="https://baotinmanhhai.vn/web/uploads/product/Originals/Bo%20Suu%20Tap/BST%20Family%20Love/nhan%20s%201.png"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Nhẫn mặt trái tim gắn đá Sapphire MH2 -
                    N171212002</a>
                  <p>Mã sản phẩm: MH2 - N171212002</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                <div class="d-flex justify-content-center">
                  <a href="#"><img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/lac_web_2.jpg"
                      alt="" /></a>
                </div>
                <div>
                  <a href="">Vòng tay mặt sao biển đá Emerald MH2-V</a>
                  <p>Mã sản phẩm: MH2-V</p>
                  <p style="color: red;">Liên hệ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div>

  <h4 class="py-4" style="text-align: center; font-size: x-large;">SẢN PHẨM NỔI BẬT</h4>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <a
          href="https://www.baotinmanhhai.vn/bai-viet/chao-nam-moi-2021-nhan-cuoi-trao-tay-%E2%80%93-nhan-ngay-tien-mung-tai-bao-tin-manh-hai">
          <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/oanh/banner%20%287%29.jpg" alt="poster1">
        </a>
      </div>
      <div class="col-lg-6 col-md-12">
        <a
          href="https://www.baotinmanhhai.vn/bai-viet/just-for-her-8-3-trao-yeu-thuong-gui-uu-dai-toi-mot-nua-the-gioi">
          <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/oanh/banner%20%2812%29.jpg" alt="poster2">
        </a>
      </div>
    </div>
  </div>

  <div class="body_TinTuc">
    <div class="container d-flex justify-content-center py-5">
      <img class="px-3 py-3 h-100" src="https://www.baotinmanhhai.vn/img/line-left.png" alt="">
      <h4>TIN TỨC</h4>
      <img class="px-3 py-3 h-100" src="https://www.baotinmanhhai.vn/img/line-right.png" alt="">
    </div>
  </div>

  <div class="container body_4">
    <div class="row">
      <div class="col" style="padding-left: 26px;">
        <img src="https://baotinmanhhai.vn/web/uploads/oanh/bai%20web%20%284%29.jpg" alt="" width="335px"
          height="180px">
        <a href="" style="color: #211F2C; font-weight: 600;">
          <p style="padding-top: 10px;">JUST FOR HER 8/3 TRAO YÊU THƯƠNG GỬI ƯU ĐÃI TỚI MỘT NỬA THẾ GIỚI</p>
        </a>
        <p style="padding-top: 26px; font-size: 17px; font-weight: 400; color: #6E6E6E">(BTMH) – Để tôn vinh và thay
          lời yêu thương muốn gửi tới 1 nửa thế giới, Bảo Tín Mạnh Hải dành tặng chương trình “Trao yêu thương – Gửi
          ưu đãi” Just for her tới khách...</p>
        <a href="" style="font-size: 14px;font-weight: 650;color: #3d3d3d;">
          <p>XEM CHI TIẾT ></p>
        </a>
      </div>

      <div class="col" style="padding-left: 26px;">
        <img src="https://baotinmanhhai.vn/web/uploads/oanh/1%20%2815%29.jpg" alt="" width="335px" height="180px">
        <a href="" style="color: #211F2C; font-weight: 600;">
          <p style="padding-top: 10px;">THÁNG 3 CHÀO HÈ CÙNG VIÊN ĐÁ AQUAMARINE</p>
        </a>
        <p style="padding-top: 26px; font-size: 17px; font-weight: 400; color: #6E6E6E">(BTMH) – Mang màu xanh nước
          biển tuyệt đẹp, Aquamarine là viên đá được nhiều người yêu thích và ưa chuộng khi chế tác thành trang sức.
        </p>
        <a href="" style="font-size: 14px;font-weight: 650;color: #3d3d3d;">
          <p>XEM CHI TIẾT ></p>
        </a>
      </div>

      <div class="col" style="padding-left: 26px;">
        <img src="https://baotinmanhhai.vn/web/uploads/oanh/nen%20quay%20so%20%281%29.jpg" alt="" width="345px"
          height="180px">
        <a href="" style="color: #211F2C; font-weight: 600;">
          <p style="padding-top: 10px;">BẢO TÍN MẠNH HẢI CÔNG BỐ KẾT QUẢ CHƯƠNG TRÌNH QUAY SỐ VẠN QUÀ TẾT – ĐÓN XUÂN
            SANG ĐỢT 1</p>
        </a>
        <p style="font-size: 17px; font-weight: 400; color: #6E6E6E">(BTMH) – Chương trình quay số trúng thưởng “Vạn
          quà tết – Đón xuân sang” được livestream trực tiếp vào ngày 20/2 (mùng 9 tết) đã tìm được những vị khách...
        </p>
        <a href="" style="font-size: 14px;font-weight: 650;color: #3d3d3d;">
          <p>XEM CHI TIẾT ></p>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-12 d-flex justify-content-center body_button_xemnhieuhon">
    <a href="https://www.baotinmanhhai.vn/tin-tuc">Xem nhiều hơn
    </a>
  </div>

  <div class="body_video container d-flex ">
    <div class="row">
      <div class="col-lg-7 col-sm-12 pl-5 pt-5 pb-5">
        <div>
          <h5>GIỚI THIỆU BẢO TÍN MẠNH HẢI</h5>
          <img style="margin-top: -20px ;" src="https://www.baotinmanhhai.vn/img/line-right.png" alt="">
        </div>

        <div style="color: #fff; margin-top: -10px">
          <p>
            Lấy ngành vàng là ngành kinh doanh cốt lỗi, trong gần 28 năm hình thành và phát triển Bảo Tín Mạnh Hải đã
            và
            đang là một trong số ít những thương hiệu ngành vàng nổi tiếng của Việt Nam nhận được sự tin tưởng, yêu
            quý
            của khách hàng. <br><br>

            Bảo Tín Mạnh Hải đồng thời là thành viên của Gia đình Bảo Tín - Gia đình có truyền thống tinh hoa lâu đời
            nhất tại miền Bắc Việt Nam trong nghề vàng. Bảo Tín Mạnh Hải luôn đặt sự tín nhiệm của khách hàng và văn
            hoá
            gia đình gắn kết làm triết lý kinh doanh và giá trị nền tảng cho sự phát triển. <br><br>

            Bảo Tín Mạnh Hải luôn tâm niệm “Vàng là mồ hôi nước mắt, tài sản quý trong mỗi gia đình, người kinh doanh
            trên thứ tài sản ấy phải có một tấm lòng vàng”. Đây chính là kim chi nam cho mọi hoạt động kinh doanh vàng
            dựa trên chữ TÂM, TÍN và TÀI...
          </p>
        </div>
        <div class="col-md-12" style="margin-left: -15px;">
          <a href="https://www.baotinmanhhai.vn/tin-tuc">Giới thiệu chi tiết
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qvUWA45GOMg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center py-4">
    <img class="px-3 py-3 h-100" src="https://www.baotinmanhhai.vn/img/line-left.png" alt="">
    <h4>DỊCH VỤ CỦA CHÚNG TÔI</h4>
    <img class="px-3 py-3 h-100" src="https://www.baotinmanhhai.vn/img/line-right.png" alt="">
  </div>

  <div class="container body_dichvu">
    <div class="row">

      <div class="col-lg-4 col-md-12" style="position: relative; text-align: center; padding-top: 30px; ">
        <div class="d-flex justify-content-center">
          <img src="https://baotinmanhhai.vn/web/uploads/xu-huong-nhan-cuoi-2017-1.jpg" alt=""
            class="rounded-circle mw-100">
        </div>
        <div class="body_3 rounded">
            <h6  >TÂN TRANG, SỬA CHỮA TRANG SỨC</h6>
          <p style=" font-size: 17px; font-weight: 400; ">Dịch vụ gồm thợ kim hoàn lành nghề và sử dụng công nghệ cao
          </p>
          <a href="" >
            <p class="py-3">Tìm hiểu thêm</p>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-12" style="position: relative; text-align: center; padding-top: 30px; ">
        <div class="d-flex justify-content-center">
          <img src="https://baotinmanhhai.vn/web/uploads/anh2_0.jpg" alt="" class="rounded-circle mw-100">
        </div>
        <div class="body_3 rounded">
            <h6  >GIÁM ĐỊNH TUỔI VÀNG</h6>
          <p style="font-size: 17px; font-weight: 400; ">Dịch vụ giám định tuổi vàng với máy móc hiện đại nhanh chóng
            và chính xác</p>
          <a href="" >
            <p class="py-3">Tìm hiểu thêm</p>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-12" style="position: relative; text-align: center; padding-top: 30px; ">
        <div class="d-flex justify-content-center">
          <img src="https://baotinmanhhai.vn/web/uploads/gia-vang-hom-nay-29-7-2016.1.1.jpg" alt=""
            class="rounded-circle mw-100">
        </div>
        <div class="body_3 rounded">
            <h6  >GIA CÔNG CHẾ TÁC</h6>
          <p style="font-size: 17px; font-weight: 400; ">Dịch vụ gia công chế tác với chất lượng sản phẩm tinh xảo và
            giá cả hợp lý</p>
          <a href="">
            <p class="py-3">Tìm hiểu thêm</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-service-badge container my-5">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="item px-3">
          <div class="row py-3">
            <div class="col-md-3 item-img">
              <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/diamond.png">
            </div>
            <div class="col-md-9">
              <h3>MIỄN PHÍ</h3>
              <p>LÀM SẠCH TRỌN ĐỜI</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="px-3 item">
          <div class="row  py-3">
            <div class="col-md-3 item-img">
              <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/clipboard.png">
            </div>
            <div class="col-md-9">
              <h3>ĐẠT CHUẨN</h3>
              <p>KIỂM ĐỊNH QUỐC GIA G.I.V &amp; <a href="">ĐƯỢC NHÀ NƯỚC CẤP PHÉP MUA BÁN VÀNG
                  MIẾNG</a></p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="  px-3 item">
          <div class="row  py-3">
            <div class="col-md-3 item-img">
              <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/star.png">
            </div>
            <div class="col-md-9">
              <h3>28 NĂM</h3>
              <p>HÌNH THÀNH VÀ PHÁT TRIỂN
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class=" px-3 item">
          <div class="row  py-3">
            <div class="col-md-3 item-img">
              <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/gold-medal.png">
            </div>
            <div class="col-md-9">
              <h3>TOP 10</h3>
              <p>THƯƠNG HIỆU, NHÃN HIỆU NỔI TIẾNG 2018</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
