#guarantee{
    margin-top: 50px;
    padding: unset;
}

#guarantee .box{
    width: auto;
    height: 100%;
    padding: 20px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#guarantee h3{
    margin: unset;
    font-size: 16px;
    font-weight: 500;
    color: #6E6E6E;
}

#guarantee p{
    margin: unset;
    font-size: 12px;
    font-weight: 400;
    color: #6E6E6E;
}

#guarantee a{
    margin: unset;
    color: #2136b1;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none!important;
}

#guarantee a:hover{
    color: #f8c73f;
}