#highlight-product .back-left{
    position: relative;
    background-image: url("/assets/image/body/highlight_product/left.jpg");
    height: 345px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#highlight-product .back-right{
    position: relative;
    background-image: url("/assets/image/body/highlight_product/right.jpg");
    height: 345px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}