#intro .link-custom{
    text-align: center;
    width: fit-content;
    padding: 5px 35px;
    border-radius: 20px;
    background-color: white;
}

#intro h4{
    margin: unset;
    font-size: 18px;
    font-weight: bold;
    color: ivory;
}

#intro p{
    font-size: 13px;
    color: white;
    line-height: 20px;
}