
#product-slide h2 {
	color: #000;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0;
}

#product-slide .carousel {
	margin: 20px auto;
	padding: unset;
}
#product-slide .carousel .carousel-item {
	min-height: 330px;
	/* text-align: center; */
	overflow: hidden;
}
#product-slide .carousel .carousel-item .img-box {
	height: 250px;
	width: 100%;
	position: relative;
}
#product-slide .carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	height: fit-content;
}
#product-slide .carousel .carousel-item h4 {
	font-size: 18px;
	color: red;
	margin: 10px 0;
}

#product-slide .carousel .carousel-item a {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.8);
	margin: 10px 0;
	text-decoration: none;

}

#product-slide .carousel .carousel-item a:hover {
	color: rgb(245, 219, 71);
}

#product-slide .carousel .carousel-item p {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.8);
	margin: 10px 0;
}

#product-slide .carousel .thumb-wrapper {
    padding: 15px;
	/* text-align: center; */
    border: 1px solid #ccc;
}
#product-slide .carousel .thumb-content {
	padding: 15px 0 0 0;
}
#product-slide .carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	/* background: rgba(0, 0, 0, 0.2); */
}

#myCarousel .carousel-control-prev{
	width: auto;
    left: -45px;
}

#myCarousel .carousel-control-next{
	width: auto;
    right: -45px;
}

#product-slide .carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}


#product-slide .carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
#product-slide .carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
#product-slide .carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
#product-slide .star-rating li {
	padding: 0;
}
#product-slide .star-rating i {
	font-size: 14px;
	color: #ffc000;
}