#services{
    padding: 0 10px 0 30px;
}
#services .box{
    padding: 2px 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

#services i{
    font-size: 20px;
    color: white;
}

#services a{
    text-decoration: none;
}

#services a:hover{
    color: #F8C741;
}

#services span{
    margin-left: 10px;
    color: white;
}

#services .custom{
    width: 230px;
    border-radius: 20px;
    padding: 5px 20px;
    border: unset;
    font-size: 13px!important;
}

#services .btn-custom{
    margin: unset;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;

}

#services .container{
    flex-direction: space-between;
    margin:unset;
    padding: 15px 0;
    border-bottom: 1px solid white;
}

#services-nav container{
    margin: unset;
    padding: unset;
}

#services-nav .custom{
    padding: unset;
    width: fit-content;
}

#services-nav h3{
    margin: unset;
    padding: unset;
    font-size: 14px;
    color: #F8C741;
    font-weight: 400;
}


.father{
    padding: unset;
    position: relative;
}

.dropbtn {
    background-color: unset;
    color: #9E1B30;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    /* position: relative; */
    position: static;
    display: inline-block;
  }

  .dropdown button{
      margin: unset;
      padding: unset;
      border: unset;
      box-sizing: border-box;
      background-color: #9E1B30;
      color: #F8C741;
      font-size: 14px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content .p-custom{
      padding: 10px 40px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
  position: absolute;
    display: block;
    top: 40px;
    left: 0px;
    width: fit-content;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
    cursor: pointer;
  }

  #header-services p{
      color: black;
  }
